version: '2.1'
orbs:
  aws-s3: circleci/aws-s3@3.0
jobs:
  test:
    working_directory: ~/circleci-frontend
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run:
          name: Install packages
          command: yarn
      - run:
          name: Install JUnit coverage reporter
          command: yarn add --dev jest-junit
      - run:
          name: Run tests with JUnit as reporter
          command: yarn ci:unit
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - store_test_results:
          path: ./reports/junit/
      - store_artifacts:
          path: ./reports/junit
  build-upload:
    working_directory: ~/circleci-frontend
    docker:
      - image: circleci/node
        environment:
          TGZ_NAME: /tmp/my24-master-build.tgz
    steps:
      - checkout
      - run:
          name: Install packages
          command: yarn
      - run:
          name: Create build
          command: yarn build
      - run:
           command: |
             DATE=$(date +"%Y-%m-%d_%H%M")
             TARGET_DIR="my24-frontend-${DATE}-${CIRCLE_BUILD_NUM}"
             mkdir /tmp/$TARGET_DIR
             cp webpack-stats.json /tmp/$TARGET_DIR
             cp -r dist /tmp/$TARGET_DIR
             cp -r public /tmp/$TARGET_DIR
             cd /tmp
             tar -zcf $TGZ_NAME $TARGET_DIR
             echo "$TARGET_DIR" > /tmp/release
      - aws-s3/copy:
          aws-region: US
          from: $TGZ_NAME
          to: 's3://live-deployments.eu-central-1.linodeobjects.com'
workflows:
   version: 2
   build-main:
     jobs:
       - test:
           filters:
             branches:
               only: main
       - build-upload:
           requires:
             - test
           filters:
             branches:
               only: main
   build-develop:
     jobs:
       - test:
           filters:
             branches:
               only: develop
