// Define variable defaults
$my24: #ff9933;
$primary: $my24;
$navbar-light-color: $my24;
$active-link: #232c2fd9;
$normal-link: #fff;
$font-size-base: 0.9rem;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

html, body {
  height: 100%;
  background: #f6f7fa;
}

details {
  padding: 1ex 2ex;
  transition: all .25s;

  &:hover, &:focus {
    background-color: #fcfcff;
    summary > * {
      color: $active-link !important;
    }
  }

  &[open] {
    background-color: #f8f9fa;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid #f8f9fa;
  }
}

details > summary {
  padding-block: 1rem;
  user-select: none;
}

details > summary > * {
  display: inline;
  color: var(--text-color) !important;
}

details > summary > h6 {
  margin-bottom: 0 !important;
}

details > summary > svg {
  transition: all .25s ease;
}

details[open] > summary {
  
  > * {
    color: $active-link !important;
  }
}

details[open] > summary > svg {
  rotate: 180deg;
}

html {
  .app-page header div.page-title {
    .button, .btn {
      padding-block: .23rem !important;
      display: flex;
      gap: 1ex;
      align-items: center;
    }

    .btn,
    .button,
    .btn-primary {
      background-color: white !important;
      border-color: #fff6;
      color: $my24 !important;
      &:not(:disabled):active {
        border-color: white !important;
      }
      &:hover,
      &:focus {
        background-color: #fffc;
        border-color: white;
      }
      &.outline,
      &.btn-outline,
      .outline-primary {
        background-color: transparent !important;
        border-color: #fff9 !important;
        color: white !important;
      }
      &[disabled] {
        opacity: .5;
        pointer-events: none;
      }
    }
    .btn-secondary {
      background-color: #ffffffab !important;
    }
    .btn-toolbar {
      gap: 1ex;
      
      button {
        font-size: 0.9rem;
      }
    }

    .backlink {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}