// Define variable defaults
//$my24: #ff9933 !default;
//$primary: $my24;
//$secondary: #000;
//$navbar-light-color: $my24;
//$active-link: #232c2fd9;
//$normal-link: #fff;
//$font-size-base: 0.9rem;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@use "theme";
@use "shared";