.btn:focus {
  outline: none;
  box-shadow: none;
}

.multiselect {
  font-size: 14px !important;
  min-height: 25px !important;
}

.multiselect__placeholder {
  margin-bottom: 4px;
}

.multiselect__select {
  padding: 0px 8px;
  &:before {
    top: 60%!important;
  }
}

.multiselect, .multiselect__input, .multiselect__single {
  font-size: 14px !important;
}
.multiselect__single {
  margin-bottom: 4px;
}

.multiselect__tags {
  padding: 0 35px 0 4px !important;
}

.main-nav-divider {
  @extend .row;
  @extend .align-items-center;
  color: #6c757d;
  padding-left: 14px;
  padding-right: 14px;
}

.icon-th {
  @extend .h4;
  @extend .m-1;
}

.edit-icon {
  @extend .border;
  @extend .border-primary;
  @extend .rounded;
  @extend .px-2;
}

.navbar-light .navbar-nav .nav-link {
  color: $normal-link !important
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav {
  color: $active-link !important
}

#app-layout {
  height: 100vh;
  width: 100%;
  padding-left: 240px;
}

.main-menu {
  background-color: white;
  box-shadow: 1px 0px #f2f2f2;
  width: 240px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  display: flex;


  nav {
    position: sticky;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;

    .nav-items {
      overflow: auto;
      padding: 0 1rem;
    }

    .b-nav-dropdown {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 1rem;
    }
    .nav {
      flex-direction: column;
    }



  }

  li {
    list-style: none;

    a {
      border-radius: .5ex;
      color: #232c2fa0;
      display: flex;
      gap: 1ex;
      align-items: center;
      position: relative;
      transition: all .2s;
      &.active {
        font-weight: bold;
      }

      &.router-link-active {
        font-weight: bold;
        color: #232c2fd9;
      }

    }
    &.has-children a::after {
        content: '›';
        position: absolute;
        right: 1ex;
    }
  }

  .page-subnav {
    padding-inline-start: 1.6rem;
    transform: translateY(0);
    opacity: .5;
    animation: fade .5s .05s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  }

  @keyframes fade {
    to {
      opacity: 1;
    }
  }

  .nav-items > li > a.active {
    background: #f6f9fc;
  }
}

.app-page {
  padding: 0;
  height: 100vh;
  overflow-y: scroll;

  > header {
    margin: 0 0rem -2rem;
    padding: 2rem 2rem 3rem;
    background: var(--primary);
    color: white;
    position: sticky;
    top: 0;
    min-height: 200px;

    h3:first-child {margin-top: calc(52px + 2ex);}
    .page-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: calc(52px + 2ex);

      h3 {
        display: flex;
        align-items: center;
        font-weight: normal;
        gap: .5ex;
        margin: 0;
        a {
          color: white;
        }
      }
    }

    .search-form {
      margin-bottom: 2ex;
      position: absolute;

      .form-control {
        background-color: rgba(255,255,255,.75);
        border-radius: 3rem;
        border-color: transparent;
        box-shadow: 0 .25ex .5ex rgba(0,0,0,.25);
        min-height: 2.6rem;
        padding: 2ex;
        font-size: .85rem;
      }
      form {
        max-width: 20ch;
      }
    }

    .flex-columns {
      align-items: center;
    }

    .button, .btn {
      padding-block: .23rem !important;
      display: flex;
      gap: 1ex;
      align-items: center;
    }

    .btn,
    .button,
    .btn-primary {
      background-color: white !important;
      border-color: #fff6;
      color: $my24 !important;
      &:hover,
      &:focus {
        background-color: #fffc;
        border-color: white;
        box-shadow: 0 0 0 .25ex rgba(255,255,255,.25)
      }
      &.outline,
      &.btn-outline,
      .outline-primary {
        background-color: transparent !important;
        border-color: #fff6;
        color: white !important;
      }
      &[disabled] {
        opacity: .5;
        pointer-events: none;
      }
    }
    .btn-secondary {
      background-color: #ffffffab !important;
    }
    .btn-toolbar {
      gap: 1ex;
    }

    .backlink {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  > header ~ .panel,
  > header ~ .page-detail {
    margin: 0 1rem 4rem !important;
  }

}

.navbar-brand {
  padding: 0;
  margin: 1rem auto !important;
  display: block;
  text-align: center;
}

/* main app layouts */

.app-detail, .panel {
  @extend .mx-auto;
  @extend .p-4;
  background: white;
  border-radius: .5ex;
  box-shadow: 0 1ex 1rem #394b5923;
  position: relative;
  --text-color: #757a7c;
  color: var(--text-color);

  table { 
    thead th {
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom-width: 1px;
      border-top: 0;
      font-weight: normal;
      color: var(--text-color);
      vertical-align: middle;
      background-size: 1.2ex 1.5ex !important;
      div {font-size: smaller;}
    }
    td {
      vertical-align: middle;
      overflow: hidden;
      height: 2rem;
      max-width: 70ch;
      text-overflow: ellipsis;
      color:var(--text-color);
      transition: all .1s;
      & > a {
        height: 1.5rem;
        white-space: nowrap;
      }
      &:first-child a {
        display: block;
      }
    }
    &:not(.table-dark) tr:hover > td {
      background: #f6f9fc;
      color: #323435;
      a {
        text-decoration: underline;
      }
    }
  }
}


/* app ui components / blocks */

.panel {
  
  .tabs {
    &:first-child {
      margin: -1.5rem -1.5rem 0;
      border-top-left-radius: .5ex;
      border-top-right-radius: .5ex;
      overflow: hidden;
    }
    .nav-tabs {
      border: none;
      background: #f6f9fc;
      .nav-item {
        padding: 0 1rem;
        a.nav-link {
          background-color: transparent;
          border-color: transparent!important;
          border-radius: 0;
          font-size: smaller;
          letter-spacing: .25px;
          line-height: 3.2rem;
          padding: 0;
          color: $secondary;

          &:hover,
          &:focus {
            color: black;
          }

          &.active {
            box-shadow: inset 0px -4px #ff9933;
            color: $primary;
            font-weight: 500;
          }
        }
      }
    }
    .tab-content {
      margin: 1.5rem;
    }
  }
  button.primary,
  .btn-primary {
    color: $normal-link!important;
  }
  h6 {
    text-transform: uppercase;
    color: #232c2f;
    margin-bottom: 1ex;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}

.flex-columns {
  display: flex;
  flex-direction: row;
  gap: 2ex;

  &.wrap {
    flex-wrap: wrap;
  }
  > div {
    flex-grow: 1;

    &.panel {
      max-width: 50%; // FIXME
      margin-top: 0;
      
      h3 {
        margin: 2rem;
        text-align: center;
        letter-spacing: -1px;
      }
    }
    
    &.sidebar {
      min-width: 50ch !important;
      max-width: 60ch !important;
      flex-grow: 0;
      align-self: flex-start;
      position: sticky;
      top: 170px;
    }
  }

  &.compact > div {
    margin-inline: 0 !important;
    flex-shrink: 1;
    max-width: 33%;
  }
  > .col-1-3 {
    width: 32% !important;
    max-width: 33%;
  }
  > .col-2-3 {
    width: 66%;
    max-width: unset!important;
  }
}

.flex-stack > .panel + .panel {
  margin-top: 1rem;
}

dl {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: .5rem 1rem;

  dt {
    font-size: smaller;
    margin: 0;
    text-align: end;
    vertical-align: middle;
    line-height: 1.9;
    font-weight: 500;
    opacity: .5;
  }
  dd {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6;
    > * {
      margin-bottom: 0;
    }
  }
}

ul.listing {
  padding: 0;
  margin: 0;
  list-style: none;
  width:100%;

  &.order-list {
    inline-size: fit-content;
  }

  &.order-list {
    li > .listing-item,
    li > .headings {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }

  li {
    line-height: 2.4rem;
    &:not(:last-child) {
      border-bottom: 1px solid #f2f3f4;
    }
    > .listing-item,
    .headings {
      display: flex;
      justify-content: space-between;
      text-align: initial;
      gap: 1rem;
      padding-inline: 1ex;
      color:var(--text-color);
      text-decoration: none!important;

      > * {
        text-overflow: ellipsis;
        transition: all .1s;
        min-width: 5rem;

        select {
          border-color: transparent;
          max-width: 22ch;
          &:hover,
          &:focus {
            border-color: #0003 !important;
          }
        }
      }

      strong {
        color: #323435;
      }

      .order-id {
        color: lighten(#757a7c, 20%);
        text-align: end;
        width: 5rem;
      }
      .order-type {
        width: 10rem;
      }
      .order-company-name {
        width: 7rem;
      }
      .order-start-date {
        width: 9rem;
      }
      .order-documents {
        flex-grow: grow;
      }
      .order-status {
        min-width: 10rem;
      }

      .order-status > span {
        display: flex;
        align-content: center;
        min-width: 2rem;
      }

      a.px-1 {
        font-size: 2rem;
        opacity: .1;
        pointer-events: none;
        transition: all .1s;
        svg {
          border: none!important;
        }
      }
    }

    .headings {
      text-transform: uppercase;
      font-size: smaller;
      letter-spacing: 1px;
    }

    .listing-item span {
      white-space: nowrap;
      overflow: hidden;
    }

    > .listing-item:hover {
      background: #f6f9fc;
      > * {
        color: #323435;
      }

      a.px-1 {
        opacity: 1;
        pointer-events: all;

      }
    }
  }
}

.my24-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.filter-item {
  padding: 0 1.2ex;
  border-radius: 2rem;
  text-decoration: none !important;
  transition: background .1s;
  &:hover {
    background-color: lighten($my24, 30%) !important;
  }
  &.router-link-active {
    font-weight: bold;
    color: white!important;
    background-color: lighten($my24, 5%) !important;
  }
}

canvas.dispatchCanvas {
  min-height: 320px;
}

.app-form {
  @extend .mx-auto;
  @extend .bg-light;
  @extend .p-md-2;
}

.dimmed {
  opacity: .5;
}

.carousel-item img {
  width: 640px !important;
  height: 480px !important;
}

.data-table table thead tr:first-child {
  border-top-style: hidden;
}

<<<<<<< HEAD
/* Dispatch view */
.week {
  .planning-head,
  .planning-row {
    > div {
      display: grid;
      gap: 1ex;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      user-select: none;
      background-image: linear-gradient(transparent 50%, white 50%), linear-gradient(-90deg, #0000000d 1px, transparent 1px);
      background-size: calc(100.5% / 6) 1rem;
  
      > *:first-child {
        grid-column: 1 / span 1 !important;
        grid-row: 1;
        text-align: end;
      }
    }
  }
  .planning-head {
      [data-day] {
        display: flex;
        flex-direction: column;
        align-items: center;
        > * {
          flex: 1 0 50%;
        }
        strong {
          width: 2.4rem;
          line-height: 2.4rem;
          text-align: center;
          border-radius: 50%;
          &.today {
            background-color: $primary;
            color: white;
            + small {
              color: $primary;
            }
          }
        }
        small {
          line-height: 2.2;
        }
      }
  }
  .planning-row {
      > div {
        height: 3rem;
      }
      .order {
        border-radius: 0.5ex;
        margin: 0;
        padding-inline: 2.2ex 1.5ex;
        box-shadow: inset 0 0 0 1px #757a7c82, inset 0 0 0px 3px white, inset 1ex 0px var(--status-color);
        white-space: nowrap;
        
        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(2px);
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .5s, opacity .2s;
        cursor: pointer;

        .order-type {
          color: var(--status-color);
        }

        &:hover {
          transition: all .2s 0s;
          z-index: 1;
        }
      }
  }
  &.loading {
    .order {
      opacity: .5;
      transition-duration: .05s;
    }
  }
}

.dispatch-calendar.compact .order {
  grid-row: 1;
  &:hover {
    background-color: var(--status-color);
    color: white;
    box-shadow: inset 0 0 0px 3px var(--status-color), inset 1ex 0px white;
  }
}

.dispatch-calendar.wide .order {
  &:hover {
    display: flex;
    flex-direction: column;
  }

.statuscode-preview {
  padding: .5ex 1ex;
  border-radius: .5ex;
  display: inline-block;
  background-color: var(--bg-color);
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
  line-height: 1.4;
  font-weight: 500;

}

.order-filter-links {
  margin-bottom: 1rem;
}

/* (bootstrap) overrides */
.float-right {
  margin-bottom: 0;
}

.multiselect__tags {
  display: flex;
  .multiselect__placeholder {
    align-self: center;
  }
}

.progress {
  height: .25rem;
}

.badge.badge-light {
  color: $primary;
}

.active .badge.badge-light {
  background-color: white;
}