.btn:focus {
  outline: none;
  box-shadow: none;
}

.multiselect {
  font-size: 14px !important;
  min-height: 25px !important;
}

.multiselect__placeholder {
  margin-bottom: 4px;
}

.multiselect__select {
  padding: 8px 8px;
  top: -6px;
}

.multiselect, .multiselect__input, .multiselect__single {
  font-size: 14px !important;
}
.multiselect__single {
  margin-bottom: 4px;
}

.multiselect__tags {
  padding: 0 35px 0 4px !important;
  min-height: 25px !important;
}

.main-nav-divider {
  @extend .row;
  @extend .align-items-center;
  color: #6c757d;
  padding-left: 14px;
  padding-right: 14px;
}

.icon-th {
  @extend .h4;
  @extend .m-1;
}

.edit-icon {
  @extend .border;
  @extend .border-primary;
  @extend .rounded;
  @extend .px-2;
}

.navbar-light .navbar-nav .nav-link {
  color: $normal-link !important
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav {
  color: $active-link !important
}

#app-layout {
  height: 100vh;
  width: 100%;
  padding-left: 240px;
}

.main-menu {
  background-color: white;
  box-shadow: 1px 0px #f2f2f2;
  width: 240px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  display: flex;


  nav {
    position: sticky;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;

    .nav-items {
      overflow: auto;
      padding: 0 1rem;
    }

    .b-nav-dropdown {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 1rem;
    }
    .nav {
      flex-direction: column;
    }



  }

  li {
    list-style: none;

    a {
      border-radius: .5ex;
      color: #232c2fa0;
      display: flex;
      gap: 1ex;
      align-items: center;
      position: relative;
      transition: all .2s;
      &.active {
        font-weight: bold;
      }

      &.router-link-active {
        font-weight: bold;
        color: #232c2fd9;
      }

    }
    &.has-children a::after {
        content: '›';
        position: absolute;
        right: 1ex;
    }
  }

  .page-subnav {
    padding-inline-start: 1.6rem;
    transform: translateY(0);
    opacity: .5;
    animation: fade .5s .05s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  }

  @keyframes fade {
    to {
      opacity: 1;
    }
  }

  .nav-items > li > a.active {
    background: #f6f9fc;
  }
}

.app-page {
  padding: 0;
  height: 100vh;
  overflow-y: scroll;

  > header {
    margin: 0 0rem -2rem;
    padding: 2rem 2.5rem 3rem;
    background: var(--primary);
    color: white;
    position: sticky;
    top: 0;
    min-height: 200px;

    h3:first-child {margin-top: calc(52px + 2ex);}
    .page-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: calc(52px + 2ex);

      h3 {
        display: flex;
        font-weight: normal;
        gap: .5ex;
        margin: 0;
        a {
          color: white;
        }
      }
    }

    .search-form {
      margin-bottom: 2ex;
      position: absolute;

      .form-control {
        background-color: rgba(255,255,255,.75);
        border-radius: 3rem;
        border-color: transparent;
        box-shadow: 0 .25ex .5ex rgba(0,0,0,.25);
        min-height: 2.6rem;
        padding: 2ex;
        font-size: .85rem;
      }
      form {
        max-width: 20ch;
      }
    }

    .flex-columns {
      align-items: center;
    }

    .button, .btn {
      padding-block: .23rem !important;
    }

    .button, .btn-primary {
      background-color: white !important;
      border-color: #fff6;
      color: $my24 !important;
      &:hover,
      &:focus {
        background-color: #fffc;
        border-color: white;
        box-shadow: 0 0 0 .25ex rgba(255,255,255,.25)
      }
    }
  }

  > header ~ div.panel,
  > header ~ div.page-detail {
    margin: 0 1rem 5rem !important;
  }

}

.navbar-brand {
  padding: 0;
  margin: 1rem auto !important;
  display: block;
  text-align: center;
}

/* main app layouts */

.app-detail, .panel {
  @extend .mx-auto;
  @extend .p-4;
  background: white;
  border-radius: .5ex;
  box-shadow: 0 1ex 1rem #394b5923;
  position: relative;
  --text-color: #757a7c;
  color: var(--text-color);

  table td {
    vertical-align: middle;
    overflow: hidden;
    height: 2rem;
    & > a {
      height: 1.5rem;
      white-space: nowrap;
    }
  }
}


/* app ui components / blocks */

.panel h6 {
  text-transform: uppercase;
  color: #232c2f;
  margin-bottom: 1ex;

  &:not(:first-of-type) {
    margin-top: 2rem;
  }
}

.flex-columns {
  display: flex;
  flex-direction: row;
  gap: 2ex;
  &.wrap {
    flex-wrap: wrap;
  }
  > div {
    flex-grow: 1;
    &.panel {
      max-width: 33%;
      margin-top: 0;
    }
  }
}

.flex-stack > .panel + .panel {
  margin-top: 1rem;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 2.4rem;
  gap: .5rem;

  dt {
    margin: 0;
  }
  dd {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ul.listing {
  padding: 0;
  margin: 0;
  list-style: none;
  width:100%;

  &.order-list {
    inline-size: fit-content;
  }

  &.order-list {
    li > .listing-item,
    li > .headings {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }

  li {
    line-height: 2.4rem;
    box-shadow: 0px 1px #f2f3f4;

    > .listing-item,
    .headings {
      display: flex;
      justify-content: space-between;
      text-align: initial;
      gap: 1rem;
      padding-inline: 1ex;
      color:var(--text-color);
      text-decoration: none!important;

      > * {
        text-overflow: ellipsis;
        transition: all .1s;
        min-width: 5rem;

        select {
          border-color: transparent;
          max-width: 22ch;
          &:hover,
          &:focus {
            border-color: #0003 !important;
          }
        }
      }

      strong {
        color: #323435;
      }

      .order-id {
        color: lighten(#757a7c, 20%);
        text-align: end;
        width: 5rem;
      }
      .order-type {
        width: 10rem;
      }
      .order-company-name {
        width: 7rem;
      }
      .order-start-date {
        width: 9rem;
      }
      .order-documents {
        flex-grow: grow;
      }
      .order-status {
        min-width: 10rem;
      }

      .order-status > span {
        display: flex;
        align-content: center;
        min-width: 2rem;
      }

      a.px-1 {
        font-size: 2rem;
        opacity: .1;
        pointer-events: none;
        transition: all .1s;
        svg {
          border: none!important;
        }
      }
    }

    .headings {
      text-transform: uppercase;
      font-size: smaller;
      letter-spacing: 1px;
    }

    .listing-item span {
      white-space: nowrap;
      overflow: hidden;
    }

    > .listing-item:hover {
      background: #f6f9fc;
      > * {
        color: #323435;
      }

      a.px-1 {
        opacity: 1;
        pointer-events: all;

      }
    }
  }
}

.my24-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.filter-item {
  padding: 0 1.2ex;
  border-radius: 2rem;
  text-decoration: none !important;
  transition: background .1s;
  &:hover {
    background-color: lighten($my24, 30%) !important;
  }
  &.router-link-active {
    font-weight: bold;
    color: white!important;
    background-color: lighten($my24, 5%) !important;
  }
}

.app-form {
  @extend .mx-auto;
  @extend .bg-light;
  @extend .p-md-2;
}

.carousel-item img {
  width: 640px !important;
  height: 480px !important;
}

.data-table table thead tr:first-child {
  border-top-style: hidden;
}
