// Define variable defaults

// Primair, groen, #c4d82e
// Secundair, antraciet, #293133
// Tertiair, blauw, #14377d

// color-primary: #000000;
//color-secondary: #FFFFFF;
//color-text: #000000;
$color-accent: #30BFBF;
//global-color-1cf88dd:

$my24: #30BFBF;
$primary: #000;
$secondary: $my24;

$navbar-light-color: $secondary;
$active-link: $secondary;
$normal-link: $secondary;
$font-size-base: 0.9rem;

@import 'bootstrap/scss/bootstrap.scss';
@import "bootstrap-vue-next/dist/bootstrap-vue-next.css";
@import "./shared.scss";

html .main-menu nav .page-subnav ul.nav a:hover,.main-menu nav .page-subnav ul.nav a:focus,.main-menu nav .page-subnav ul.nav a:active,.main-menu nav .page-subnav ul.nav a.router-link-active,.main-menu nav .page-subnav ul.nav a.active {
  background-color: $my24 !important;
  color: $white !important;
}
html .app-page header div.page-title .button, html .app-page header div.page-title .btn {
  color: $white !important;
  background-color: $my24 !important;
}

html .nav-pills .nav-link.active,.nav-pills .show>.nav-link {
  color: #ffffff !important;
  background-color: $my24 !important;
}

.dummy-hvg-where-does-this-end-up {
  font-size: 1em;
}
